/* styles.css */
body{font-family: sans-serif;
  background-image: linear-gradient(#689,#795,#689);
  background-size: cover;
  height: fit-content;
  margin: 0;}
.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  font-family: "Arial", sans-serif;
  color: #333;
}


.intro {
  margin-bottom: 40px;
}

.profile-image {
  background-color: #000;
  width: 200px;
  height: 200px;
  border-radius: 80%;
  object-fit: cover;
  margin-bottom: 20px;
}

.portfolio-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.portfolio-intro {
  font-size: 18px;
}

.socials {
  margin-bottom: 40px;
}

.section-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.social-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.social-links li {
  margin: 0 10px;
}

.social-links li a {
  color: #333;
  text-decoration: none;
  font-size: 18px;
}

.projects {
  margin-bottom: 40px;
}

.project {
  margin-bottom: 20px;
}

.project-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.project-description {
  font-size: 16px;
  margin-bottom: 10px;
}

.project-link {
  display: inline-block;
  background-color: #ff6f00;
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
}

.project-link:hover {
  background-color: #ffa500;
}

.btn{background-color: #fff;
  padding: 16px 20px;
  margin-bottom: 20px;
  border-radius: 6px;
  color: black;
  text-decoration: none;
  text-align: center;}
  .btn:hover{background: transparent;
  border: 1px solid;
  color: #fff;}